.progress {
  width: 100%;
  min-height: 23px;
  background-color: #0ac0c6;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;

  &__filler {
    height: 100%;
    text-align: right;
    border-radius: 8px;
    transition: .25s ease-in;

  }
  &__label {
    padding: 7px 17px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 400;
    width: min-content;
  }
}
