.progress {
  &__container {
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 13px;
  }

  &__filler {
    height: 100%;
    border-radius: inherit;
    text-align: right;
  }
  &__label {
    padding: 1px 15px;
    color: #fff;
    font-weight: 400;
  }
}
