.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  user-select: none;
  opacity: 0;  
  overflow-y: auto;
  &.open {
    visibility: visible;
    user-select: auto;
    opacity: 1;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    pointer-events: inherit;
    transition: 0.3s ease-in;
    min-height: 400px;
    padding: 20px 10px;
  }

  &__body {
    background: var(--chakra-colors-chakra-body-bg);
    border-radius: 20px;
    padding: 15px 20px;
    min-width: 300px;
    max-width: 500px;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  &__close {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease-in;
    @media (any-hover: hover) {
      &:hover {
        color: #949494;
      }
    }
  }
  &__content {
    background: var(--chakra-colors-chakra-body-bg);
  }
  &__title {
    text-align: center;
    font-size: 27px;
    margin-bottom: 15px;
  }
  &__text {
  }
  &__footer {
  }
}


.swiper,
.swiper-slide {
  background: var(--chakra-colors-chakra-body-bg);
  
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  padding: 10px;
  color: #ec7201 !important;
  font-weight: 600;
  top: 70px !important;
  padding: 5px !important;
}

.swiper-custom-pagination {
  font-size: 18px;
  font-weight: 500;
}