.connector-test-card {
  padding: 20px;
  &__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  &__button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: opacity 0.25s ease-in;
    &.nebensatz {
      background-color: #0c72d2;
    }
    &.hauptsatz-position-0 {
      background-color: #dea90d;
    }
    &.hauptsatz-position-1 {
      background-color: #0abe3a;
    }
    &.infinitivgruppe {
      background-color: #bb0abe;
    }
    &.besonderer-position {
      background-color: #848484;
    }
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
