* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  .nanigation {
    display: flex;
    gap: 20px;
  }
  .nanigation-link {
    color: #999999;

    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.25s ease-in;
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
    &.active {
      color: #fff;
    }
  }
}

.logo {
  flex: 0 0 170px;
  img {
    width: 100%;
    height: auto;
  }
}

.info-panel {
  display: flex;
  gap: 15px;
}

.connectors-value {
  color: #fff;
}

.answer-wrong {
  color: red;
}

.answer-right {
  color: aquamarine;
}

.page {
  padding: 20px;
  flex: 1 1 auto;
}

section {
  margin: 20px auto 0;
  max-width: 1280px;
  padding: 0 15px;
}

.connector-card {
  max-width: 500px;
  h2 {
    font-size: 54px;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    margin: 5px 0;
    strong {
      color: #0cd240;
    }
  }
  .example-output {
    min-height: 100px;
  }
  .connector-example {
    margin-bottom: 20px;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
  @media (any-hover: hover) {
    &:hover {
      background-color: #c0bfbf;
    }
  }
}

.category {
  margin-bottom: 20px;
}

.category-title {
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  h2 {
    font-size: 20px;
    color: #fff;
  }
  &.subjunktion {
    background-color: #0c72d2;
  }
  &.konjunktion {
    background-color: #dea90d;
  }
  &.konjunktionaladverb {
    background-color: #0cd240;
  }
}

.word-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  &::last-child {
    border-bottom: none;
  }
  .word {
    background-color: #9d9d9d;
    border: 1px solid #717171;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease-in;
  @media (any-hover: hover) {
    &:hover {
      background-color: #c0bfbf;
    }
  }
  }
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.home {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
  }

  strong {
    font-weight: bold;
  }
}
