@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
::root {
  --index: calc(1vw * 1vh)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 90px;
  background-image: url(./assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  position: fixed;
  flex-wrap: wrap;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  .nanigation {
    display: flex;
    gap: 20px;
  }
  .nanigation-link {
    color: #999999;

    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.25s ease-in;
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
    &.active {
      color: #fff;
    }
  }
}

.logo {
  flex: 0 0 170px;
  img {
    width: 100%;
    height: auto;
  }
}

.info-panel {
  display: flex;
  gap: 15px;
}

.connectors-value {
  color: #fff;
}

.answer-wrong {
  color: red;
}

.answer-right {
  color: aquamarine;
}

.page {
  flex: 1 1 auto;
}

section {
  margin: 20px auto 0;
  max-width: 1280px;
  padding: 0 15px;
}

.connector-card {
  max-width: 500px;
  h2 {
    font-size: 54px;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    margin: 5px 0;
    strong {
      color: #0cd240;
    }
  }
  .example-output {
    min-height: 100px;
  }
  .connector-example {
    margin-bottom: 20px;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
  @media (any-hover: hover) {
    &:hover {
      background-color: #c0bfbf;
    }
  }
}

.category {
  margin-bottom: 30px;
  &__title {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    h2 {
      font-size: 20px;
      color: #fff;
    }
  }

  &__words {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    &::last-child {
      border-bottom: none;
    }
  }

  &__word {
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.34);
    transition: background-color 0.25s ease-in;
  }
  .subjunktion & {
    &__title {
      background-color: #0c72d2;
    }
    &__word {
      background-color: rgba(#0c72d2, 0.7);
      @media (any-hover: hover) {
        &:hover {
          background-color: #0c72d2;
        }
      }
    }
  }
  .konjunktion & {
    &__title {
      background-color: #dea90d;
    }
    &__word {
      background-color: rgba(#dea90d, 0.7);
      @media (any-hover: hover) {
        &:hover {
          background-color: #dea90d;
        }
      }
    }
  }
  .konjunktionaladverb & {
    &__title {
      background-color: #0abe3a;
    }
    &__word {
      background-color: rgba(#0abe3a, 0.7);
      @media (any-hover: hover) {
        &:hover {
          background-color: #0abe3a;
        }
      }
    }
  }
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.home {
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
  }

  strong {
    font-weight: bold;
  }
}
